nav{
    background-color: $navBackground;
    position: sticky;
    top: 0;
    margin-top: 0;
    line-height: 70px;
    
    ul{
        list-style-type: none;
        padding: 0;

    }

    li{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex: 1 1 1;
        border-right: 1px solid $borderColor;
    }
    a{
        list-style-type: none;
        display: block;
        text-align: center;
        color: $navLinksColor;
        text-decoration: none;
        cursor: pointer;
        padding: 10px;

        &:hover{
            color: $navBackground;
            background-color: $navLinksColor;
        }
    }
}