.scrollup{
    width: 64px;
    height: 64px;
    background: url("../img/strzalka.png") 0px 0px;
    background-repeat: no-repeat;
    z-index: 1;
    position: fixed;
    right: 30px;
    bottom: 30px;
}