$navBackground: #333;
$borderColor : #fff;
$navLinksColor : #fff;
$h1Color: #fff;
$headerText: #fff;
$homeH1: #dbd6d6;
$homeColor: #333;
$aboutSection: rgba(37, 33, 134, 0.67);
$pColor: #fff;
$skillsColor: #6a3c0d;
$h3Color: #e8dede;